# this is existing content which should not be modified
/* @randhircs




# Dependabot reviewers (migrated from .github/dependabot.yml)
/pubspec.lock @thavaahariharangit
/pubspec.yaml @thavaahariharangit
/pubspec.yml @thavaahariharangit
/2/elm.json @randhircs
/3/global.json @markhallen
/3/packages.config @markhallen
/4/pubspec.lock @kbukum1
/4/pubspec.yaml @kbukum1
/4/pubspec.yml @kbukum1
/5/pubspec.lock @robaiken
/5/pubspec.yaml @robaiken
/5/pubspec.yml @robaiken
/6/npm-shrinkwrap.json @abhishekbhaskar
/6/package-lock.json @abhishekbhaskar
/6/package.json @abhishekbhaskar
/6/pnpm-lock.yaml @abhishekbhaskar
/6/yarn.lock @abhishekbhaskar
/1/frontend/pubspec.lock @sachin-sandhu @kbukum1
/1/frontend/pubspec.yaml @sachin-sandhu @kbukum1
/1/frontend/pubspec.yml @sachin-sandhu @kbukum1
/2/backend/pubspec.lock @sachin-sandhu @kbukum1
/2/backend/pubspec.yaml @sachin-sandhu @kbukum1
/2/backend/pubspec.yml @sachin-sandhu @kbukum1
/3/*.csproj @markhallen
/3/*.fsproj @markhallen
/3/*.sln @markhallen
/3/*.vbproj @markhallen
/1/lib-*/pubspec.lock @sachin-sandhu @kbukum1
/1/lib-*/pubspec.yaml @sachin-sandhu @kbukum1
/1/lib-*/pubspec.yml @sachin-sandhu @kbukum1
/3/**/*.csproj @markhallen
/3/**/*.fsproj @markhallen
/3/**/*.sln @markhallen
/3/**/*.vbproj @markhallen
